.flip-card {
    animation: 3s linear infinite rotate-card;
}

.loading-wheel-icon {
    width: 40px;
    height: 40px;
    padding: 0;
    border-width: 0;
    background-color: transparent;
}

@keyframes rotate-card {
    from {
        rotate: 0
    }

    to {
        rotate: y 360deg
    }
}

.expanded-card {
    position: absolute;
    z-index: 2;
    /* animation: 0.25s linear expand-card forwards; */
    transition:
        scale 0.25s,
        opacity 0.5s,
        left 0.5s,
        right 0.5s;
    scale: 1;
    /* opacity: 50%; */
    left: 0px;
    pointer-events: none;
}

@keyframes expand-card {
    from {
        scale: 1;
        opacity: 0%;
        left: 0px;
    }

    to {
        scale: 1.5;
        opacity: 100%;
        left: 330px
    }
}

.expanded-card-active {
    scale: 1.5;
    opacity: 100%;
    /* left: 130%; */
}

.expanded-card-active-left {
    left: 130%;
}

.expanded-card-active-right {
    right: 130%;
}